
    .example { /* Все объекты с классом example */
      margin: 20px; /* Отступ 20 пикселей */
      color: green; /* Зеленый цвет текста */
    }

    p { /* Обычный абзац */
    text-align: justify; /* Выравнивание текста по ширине */
    color: red; /* Красный цвет текста */
    }

    p.cite { /* Абзац с классом cite */
    color: navy; /* Синий цвет текста */
    margin-left: 20px; /* Отступ слева */
    border-left: 1px solid navy; /* Граница слева от текста */
    padding-left: 15px; /* Расстояние от линии до текста */
    }
